
<nav class="menu box" onclick="document.querySelector('.navbar-toggler').click()">
	<h3 class="menu-label">Menu</h3>
    <ul class="menu-list">
        <li>
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                Home
            </NavLink>
        </li>
        <li>
            <NavLink class="nav-link" href="converting">
                Converting
            </NavLink>
        </li>
        <li>
            <NavLink class="nav-link" href="JSON">
                JSON
            </NavLink>
        </li>
    </ul>
</nav>


