
<nav class="menu box" onclick="document.querySelector('.navbar-toggler').click()">
	<h3 class="menu-label">Menu</h3>
    <ul class="menu-list">
        <li>
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                Home
            </NavLink>
        </li>
        <li>
            <NavLink class="nav-link" href="razor">
                Razor
            </NavLink>
        </li>
        <li>
            <NavLink class="nav-link" href="about">
                About
            </NavLink>
        </li>
    </ul>
</nav>


