@page "/about"

<PageTitle>About Me</PageTitle>
<section class="container">
	<div class="is-flex-desktop gap-5">
		<div class="mb-4">
			<h1 class="title">About Me</h1>
			<p>
				Då är vi vid den kursliga mandatoriska om mig sidan, aja jag är jag, konstigt som det är. Tänkte jag skulle fylla denna sida med ai-slop men kom fram
				till att jag inte kännde för det. De e samma goa jag som i dom tidigare kurserna, fast med en aning mer kompentens inom detta fält av studie jämfört med förra "about me sidan". I alla fall tills dom
				vänder upp och ner på allt om några månader/år. <br><br>
			</p>
			<p>
				Varför är det här på svenska när resten utav sidan är på engelska? bra fråga.
			</p>
			<p class="mt-5">
				-Mvh Max Gagner (maga2101)
			</p>
		</div>
		<figure class="image custom-image">
			<img src="images/foto.png" alt="Me" class="is-rounded">
        <figcaption class="mt-2 has-text-centered">Kommer att återanvända den här bilden så länge som jag kommer undan med det</figcaption>        
   </figure>
	</div>
</section>
