@page "/JSON"
@inject HttpClient Http
@using Models
@using Components

<PageTitle>JSON</PageTitle>
<section class="container">
    <h1 class="title">Random Dog Image</h1>
    @if (dogImage == null)
    {
        <p><em>Loading...</em></p>
    }
    else if (dogImage.Status != "success")
    {
        <p><em>Could not fetch dog image.</em></p>
    }
    else
    {
        <img src="@dogImage.Message" alt="Random Dog Image" class="img-fluid" />
    }
</section>

<Uppgift1._2.Components.TestComponent Name="Testing.." />

@code {
    private DogImage dogImage = new DogImage { };

    //Async run to fetch json, if null set to empty object
    protected override async Task OnInitializedAsync()
    {
        try
        {
            string apiUrl = "https://dog.ceo/api/breeds/image/random";
            dogImage = await Http.GetFromJsonAsync<DogImage>(apiUrl) ?? new DogImage {};
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Could not fetch dog image: {ex.Message}");
            dogImage = new DogImage { Status = "error" };
        }
    }
}